.titre1{
	color: black;
	font-style: bold; 	
}

.titre2{
	font-style: bold;
	color: darkgreen;
	text-decoration: underline;
}

.titre3{
	font-style: bold;
	color: black;
}

p>span{
	color: red;
	text-decoration: underline;
}

body{
	font-size: 15px;
}