html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f8f8f8;
    color: #333;
}

.header {
    width: 1512px;
    height: 125px;
    flex-shrink: 0;
    background: #18181C;
}


#linkedin-logo img {
    border-radius: 20%;
    width: 3vh;
}

h1 {
    padding: 50%;
}

nav ul {
    list-style-type: none;
    align-items: center;
}

nav li {
    padding-bottom: 15%;
    font-size: 100%;
}

nav a {
    color: #ffffff;
    padding: 1%;
}

nav li:hover {
    background-color: #555;
    padding: 1%;
    width: 100%;
    transition: background-color 0.3s;  
}

.flexbox {
    display: flex;
    justify-content: flex-start;
    margin-left: 11%;
}

.section-title {
    position: relative;
    display: flex;
}

.title {
    text-decoration: underline;
    text-decoration-color: #3498db;
    text-decoration-thickness: 12%;
}

.skill p {
    font-weight: bold;
    margin-bottom: 1%;
}

.domain {
    position: relative;
    display: flex;
}

.stars-container {
    display: flex;
    align-items: center;
}

.stars {
    font-size: 150%;
    color: #f8ce0b;
}

.stars[data-rating="1"]::before {
    content: '\2605 \2606 \2606 \2606 \2606';
}

.stars[data-rating="2"]::before {
    content: '\2605 \2605 \2606 \2606 \2606';
}

.stars[data-rating="3"]::before {
    content: '\2605 \2605 \2605 \2606 \2606';
}

.stars[data-rating="4"]::before {
    content: '\2605 \2605 \2605 \2605 \2606';
}

.stars[data-rating="5"]::before {
    content: '\2605 \2605 \2605 \2605 \2605';
}

.progress-bar {
    background-color: #ddd;
    height: 20px;
    width: 50%;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #4caf50;
}

.photo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#accueil {
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.contenu {
    display: flex;
}

.photo img {
    width: 10%;
    height: 100%;
    border-radius: 25%;
}




