html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f8f8f8;
    color: #333;
}

.header {
    display: flex;
    width: 100%;
    height: 125px;
    top: 0;
    background: #18181C;
    align-items: center;
}

.titre1 {
    width: 479px;
    height: 95px;
    color: #FFF;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#linkedin-logo img {
    border-radius: 20%;
    width: 3vh;
}

.menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
}

.menu a {
    text-decoration: none;
    text-decoration: underline;
    color: #FFF;
}

.linkedin {
    color: #FFF;
    text-align: center;
}

.linkedin img {
    display: flex;
    border-radius: 20%;
    width: 3vh;
}

.titre2 {
    width: 159px;
    height: 62px;
    color: #18181C;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: underline;
}

.flexbox img {
    width: 158px;
    height: auto;
    border-radius: 25%;
    padding-top: 2%;
}

.flexbox ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-top: 6%;
    color: #18181C;
    font-size: 20px;
}

.flexbox li {
    margin-bottom: 10px;
}

.flexbox{
    width: 589px;
    height: 600px;
    background-color: #0CF25D;
    padding-left: 3%;
    padding-top: 3%;
    margin-top: 5%;
    border-radius: 25px;
}

.titre3{
    padding-bottom: 2%;
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 586px;
    height: 47px;
    flex-shrink: 0;
}

.bienvenu{
    display: flex;
    flex-direction: column;
    width: 586px;
    height: 519px;
}

.Part2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fond {
    display: flex;

}

.fond img {
    width: auto;
    height: 300;
}